* {
    box-sizing: border-box;
}

body {
    margin: 20px 20px;
    background-color: rgba(186, 35, 206, 0.651);
}

.container {
    background-color:ivory;
    padding: 15px;
}

h1 {
    text-align: center;
    text-decoration:underline;
}

em {
    color: darkblue;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="date"],
input[type="address"],
textarea, select {
    padding: 6px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:darkblue;
}

.top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color:blue;
    color: whitesmoke;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
    padding: 1px;
}

input[type="submit"] {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: #a77;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor:pointer;
    
}
